# Problem

In [1]:
import pandas as pd

Your team at Apple released a new feature that collects feedback when an app launches. As part of the Alpha Launch for testing, the feedback consists of 1 question within a dialog box that asks "Would you like to give {App Name} your credit card number?" with potential answers being "Yes" and "No". This data is logged within a table named dialogbox_feedback with the following schema:

In [2]:
df = pd.DataFrame(columns=['Column_Name', 'Data_Type', 'Description'])

In [3]:
df = df.append({'Column_Name': 'time', 'Data_Type': 'integer', 'Description': 'epoch time of response'}, ignore_index=True)
df = df.append({'Column_Name': 'user_id', 'Data_Type': 'integer', 'Description': 'unique id of user'}, ignore_index=True)
df = df.append({'Column_Name': 'app_id', 'Data_Type': 'integer', 'Description': 'unique id of application'}, ignore_index=True)
df = df.append({'Column_Name': 'app_name', 'Data_Type': 'string', 'Description': 'name of application'}, ignore_index=True)
df = df.append({'Column_Name': 'event', 'Data_Type': 'string', 'Description': 'Possible values are: impressed (when user sees the dialog box), "Yes" (when user clicks yes). There is no logging for when the user clicks "No".'}, ignore_index=True)

In [4]:
df

  Column_Name Data_Type                                        Description
0        time   integer                             epoch time of response
1     user_id   integer                                  unique id of user
2      app_id   integer                           unique id of application
3    app_name    string                                name of application
4       event    string  Possible values are: impressed (when user sees...

**Question**

A Product Manager asked you to give an update on how the Alpha Launch is going. You decide to aggregate (e.g. pivot) the events by each app to provide a quick summary. Write the aggregation using Python (Pandas).

**Solution**

First, lets create an empty dataframe based on the column names listed above...

In [5]:
df = pd.DataFrame(columns=['time', 'user_id', 'app_id', 'app_name', 'event'])

Next, we want to organize the information by application, so we can use either the app name or the app id.  Since we can assume that the app id is a unique value, we might as well choose this variable in case there is some confusion with app names that may be similar. We want to sort the app_id by the number of eve

In [6]:
pd.pivot_table(df, index=['app_name','app_id', 'event'], aggfunc='count')

Empty DataFrame
Columns: []
Index: []