# Problem

In a class of 120 students numbered 1 to 120, all even numbered students opt for Physics, those whose numbers are divisible by 5 opt for Chemistry and those whose numbers are divisible by 7 opt for Math. How many opt for none of the three subjects?

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

### Solution

One way to solve this is to start with 120 students, remove all the even student number, then remove any remaining student number that is evenly divisible by 5, then remove any remaining student number evenly divisible by 7.  We can create a dataframe to start so that we can see which students remain at the end of the exercise...

In [22]:
Student_Number = list(range(1,121))

In [4]:
df = pd.DataFrame(student_number, columns=['Student_Number'])

The above code creates a list of students, from 1 to 121 (python will go up to 120 and exclude 121), and then changes it into a dataframe. We can then execute a loop which counts how many students are in each of the three subjects...

In [25]:
physics = 0

for index in range(0, len(df)):
    if df['Student_Number'].loc[index] % 2 == 0:
        physics = physics + 1
        
print('There are', physics, 'students studying physics')

There are 60 students studying physics

In [27]:
chemistry = 0

for index in range(0, len(df)):
    if df['Student_Number'].loc[index] % 5 == 0:
        chemistry = chemistry + 1
        
print('There are', chemistry, 'students studying chemistry')

There are 24 students studying chemistry

In [28]:
math = 0

for index in range(0, len(df)):
    if df['Student_Number'].loc[index] % 7 == 0:
        math = math + 1
        
print('There are', math, 'students studying math')

There are 17 students studying math

In [30]:
print('There are', physics+chemistry+math, 'students studying physics, chemistry and math')

There are 101 students studying physics, chemistry and math

It would be tempting to suggest that there are 120-101 - 19 students remaining, and therefore they must be studying some Other subject, but we must be careful because some of these students may be double or triple counted.  For example, Student 70 would be in Physics (70 / 35 = 2), Chemistry (70 / 14 = 5) AND Math (70 / 10 = 7).  Therefore, we will add columns to our dataframe for each subject, and if the Student Number can be divisible by 2 with 0 Remainder, we will place a 1 in the Physics column, if the Student Number is divisible by 5, we will place a 1 in the Chemistry column, and if the Student Number is divisible by 7, we will place a 1 in the Math column. Else, 0's will appear.  1 is equivalent to Yes, the student is in the respective class, while 0 is equivalent to No, the student is not in the class.

In [6]:
df['Physics'] = np.where(df['Student_Number'] % 2 == 0, 1, 0)

In [7]:
df['Chemistry'] = np.where(df['Student_Number'] % 5 == 0, 1, 0)

In [8]:
df['Math'] = np.where(df['Student_Number'] % 7 == 0, 1, 0)

In [9]:
df.head(7)

   Student_Number  Physics  Chemistry  Math
0               1        0          0     0
1               2        1          0     0
2               3        0          0     0
3               4        1          0     0
4               5        0          1     0
5               6        1          0     0
6               7        0          0     1
7               8        1          0     0

Showing the head of the table, we can quickly verify that Students 2, 4, and 6 are in Physivs, Student 5 is in Chemistry and Student 7 is in Math.  We can also use the following code to see if, in fact, Student 70 is in all three classes...

In [31]:
df.loc[[69], :] # we know the index starts at 0, so to get Student 70, we subtract 1

    Student_Number  Physics  Chemistry  Math
69              70        1          1     1

We can see that this student is, in fact, counted three times.  Lets create a table where the ONLY students added are the ones who have 0s in all three subjects...

In [10]:
Other = df[(df['Physics'] == 0)&(df['Chemistry'] == 0)&(df['Math'] == 0)]

In [11]:
Other.reset_index(inplace=True)

In [12]:
Other.drop('index',axis=1,inplace=True)

To make the binary coding easier to read, we will change 0 to 'No'

In [13]:
Other['Physics'] = Other['Physics'].map({0: 'No'
                                        })

In [14]:
Other['Chemistry'] = Other['Chemistry'].map({0: 'No'
                                        })

In [15]:
Other['Math'] = Other['Math'].map({0: 'No'
                                        })

In [17]:
Other.shape

(41, 4)

We can then add a final column to our table where Other equals Yes... remember, this only occurs where all other classes are No.

In [18]:
other_list = list(range(1,42))

In [19]:
other_df = pd.DataFrame(other_list, columns=['Other'])

In [20]:
other_df['Other'] = np.where(other_df['Other'] >= 0, 'Yes', 'No')

In [21]:
pd.concat([Other, other_df], axis=1)

    Student_Number Physics Chemistry Math Other
0                1      No        No   No   Yes
1                3      No        No   No   Yes
2                9      No        No   No   Yes
3               11      No        No   No   Yes
4               13      No        No   No   Yes
5               17      No        No   No   Yes
6               19      No        No   No   Yes
7               23      No        No   No   Yes
8               27      No        No   No   Yes
9               29      No        No   No   Yes
10              31      No        No   No   Yes
11              33      No        No   No   Yes
12              37      No        No   No   Yes
13              39      No        No   No   Yes
14              41      No        No   No   Yes
15              43      No        No   No   Yes
16              47      No        No   No   Yes
17              51      No        No   No   Yes
18              53      No        No   No   Yes
19              57      No        No   No   Yes
20              59      No        No   No   Yes
21              61      No        No   No   Yes
22              67      No        No   No   Yes
23              69      No        No   No   Yes
24              71      No        No   No   Yes
25              73      No        No   No   Yes
26              79      No        No   No   Yes
27              81      No        No   No   Yes
28              83      No        No   No   Yes
29              87      No        No   No   Yes
30              89      No        No   No   Yes
31              93      No        No   No   Yes
32              97      No        No   No   Yes
33              99      No        No   No   Yes
34             101      No        No   No   Yes
35             103      No        No   No   Yes
36             107      No        No   No   Yes
37             109      No        No   No   Yes
38             111      No        No   No   Yes
39             113      No        No   No   Yes
40             117      No        No   No   Yes

Now we can see all 41 students taking Other classes, and do a quick spot check to see that these student numbers are all odd, and not evenly divisible by 5 or 7