# Problem

Suppose you are given the following dataframe containing food, weight, and calories. You'll notice the foods have varying weights associated with them:


    
food	grams	calories <br>
0	bacon	50	271      <br>
1	strawberries	200	64  <br>
2	banana	100	89          <br>
3	spinach	200	46          <br>
4	chicken breast	50	80  <br>
5	peanuts	100	567         <br>
    
Using Python (Pandas), can you sort the dataframe in descending order with the most calorically dense food (normalized for weight) at the top?

Step 1 - build the data frame:

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(columns=['Food', 'Grams', 'Calories'])

In [4]:
df = df.append({'Food': 'bacon', 'Grams': 50, 'Calories': 271 }, ignore_index=True)
df = df.append({'Food': 'strawberries', 'Grams': 200, 'Calories': 64}, ignore_index=True)
df = df.append({'Food': 'banana', 'Grams': 100, 'Calories': 89}, ignore_index=True)
df = df.append({'Food': 'spinach', 'Grams': 200, 'Calories': 46}, ignore_index=True)
df = df.append({'Food': 'chicken breast', 'Grams': 50, 'Calories': 80}, ignore_index=True)
df = df.append({'Food': 'peanuts', 'Grams': 100, 'Calories': 567}, ignore_index=True)
df

<ipython-input-4-5e0d30638e06>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Food': 'bacon', 'Grams': 50, 'Calories': 271 }, ignore_index=True)
<ipython-input-4-5e0d30638e06>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Food': 'strawberries', 'Grams': 200, 'Calories': 64}, ignore_index=True)
<ipython-input-4-5e0d30638e06>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Food': 'banana', 'Grams': 100, 'Calories': 89}, ignore_index=True)
<ipython-input-4-5e0d30638e06>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Food': 'spinach', 'Grams': 200, 'Calories': 46}, ignore_index=True)
<ipython-input-4-5e0d30638e06>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Food': 'chicken breast', 'Grams': 50, 'Calories': 80}, ignore_index=True)
<ipython-input-4-5e0d30638e06>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Food': 'peanuts', 'Grams': 100, 'Calories': 567}, ignore_index=True)

             Food Grams Calories
0           bacon    50      271
1    strawberries   200       64
2          banana   100       89
3         spinach   200       46
4  chicken breast    50       80
5         peanuts   100      567

Step 2: Normalize
    
We can normalize the data by determining the number of calories per gram so that the can be easily compared...

In [7]:
df['Calories/Gram'] = df['Calories']/df['Grams']
df

             Food Grams Calories Calories/Gram
0           bacon    50      271          5.42
1    strawberries   200       64          0.32
2          banana   100       89          0.89
3         spinach   200       46          0.23
4  chicken breast    50       80           1.6
5         peanuts   100      567          5.67

Step 3: Sort the dataframe (descending order)

In [8]:
df.sort_values(by='Calories/Gram', ascending=False)

             Food Grams Calories Calories/Gram
5         peanuts   100      567          5.67
0           bacon    50      271          5.42
4  chicken breast    50       80           1.6
2          banana   100       89          0.89
1    strawberries   200       64          0.32
3         spinach   200       46          0.23

We can see that it sorts it with peanuts at the top, followed by bacon, chicken breast, bananas, strawberries and finally, spinach